html {
    /* 1 rem = 10px */
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

:root {
    /* main colores */
    --main-green: #418E5B;

    --max-width: 240rem;

    /* Figma design with */
    --content-witdh: 144rem;

    /* Fonts */
    --primary-font: "Kanit", sans-serif;    

}

body {
    font-family: (var(--primary-font));
}

