/* ---------------------------------------------------
   INDEX
   01. Variables
   02. Reset / Base
   03. Layout global
   04. Header
   05. Hero
   06. Services
   07. Gallery
   08. Testimonials
   09. Contact
   10. Footer
   11. Media Querys

-----------------------------------------------------*/

/* -----------------------------------------------
   01. Variables
----------------------------------------------- */

html {
  /* 1 rem = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* -----------------------------------------------
   02. Reset / Base
----------------------------------------------- */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

:root {
  /* main colores */
  --main-color: #418e5b;

  --max-width: 240rem;

  /* Figma design with */
  --content-witdh: 144rem;

  /* Fonts */
  --primary-font: "Kanit", sans-serif;
}

body {
  font-family: var(--primary-font);
  font-size: 2rem;
}

/* -----------------------------------------------
   03. Layout global
----------------------------------------------- */

.main-wrapper {
  max-width: var(--max-width);
  width: 100%;
  display: flex;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/* -----------------------------------------------
   04. Header
----------------------------------------------- */

.header {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.header__nav {
  display: flex;
  gap: 6rem;
}

.header__list {
  display: flex;
  gap: 6rem;
  list-style-type: none;
}

.header__list a {
  text-decoration: none;
}

.header__mobile-list {
  display: none;
  gap: 1.5rem;
  list-style-type: none;
}

.header__mobile-list li {
  font-size: 1.6rem;
}

/*  Mobile Menu */

/* -----------------------------------------------
   05. Hero
----------------------------------------------- */

.hero_header_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hero_header_tittle_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__title {
  font-weight: 600;
  font-size: 10rem;
  color: var(--main-color);
  text-align: center;
}

.hero__subtitle {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 4rem;
}

.hero__video {
  margin-bottom: 6rem;
}

.hero__icon {
  height: 9rem;
  width: 9rem;
}

/* -----------------------------------------------
   06. Services
----------------------------------------------- */

.services_wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 6rem;
}

.services__title {
  font-weight: 600;
  font-size: 60px;
  color: var(--main-color);
  margin-bottom: 3rem;
}

.services_grid_wrapper {
  display: flex;
}

.services_grid {
  display: grid;
  /* Cada elmento ocupa el 50% del ancho de la columna */
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 3rem;
}

.services_item {
  display: flex;
  gap: 2.5rem;
}

.services_icon {
  height: 5rem;
  width: 5rem;
}

.services__element {
  font-weight: 400;
  font-size: 25px;
  text-align: left;
}

/* -----------------------------------------------
   07. Gallery
----------------------------------------------- */

.gallery_wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 6rem;
}

.gallery__title {
  font-weight: 600;
  font-size: 35px;
  color: var(--main-color);
  margin-bottom: 1rem;
}

.gallery__description {
  font-weight: 500;
  font-size: 20px;
}

/* -----------------------------------------------
   08. Testimonials
----------------------------------------------- */

.testimonials__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* max-width: var(--max-width); */
  margin: 6rem 10rem;
}

.testimonials__title {
  font-weight: 600;
  font-size: 35px;
  color: var(--main-color);
  margin-bottom: 1rem;
}

.testimonials__description {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 6rem;
}

.testimonial__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7rem;
  width: 100%;
}

.testimonial-card__wrapper {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.testimonial-card__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 5rem;
}

.testimonial-card__header {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 2rem;
}

.testimonial-card__photo {
  height: 5.5rem;
  width: 5.5rem;
}

.testimonial-card__name {
  font-weight: 500;
  font-style: normal;
  font-size: 1.7rem;
}

.testimonial-card__rating-wrapper {
  display: flex;
  gap: 0.7rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.testimonial__rating-star {
  height: 2.4rem;
  width: 2.4rem;
}

.testimonial-card__comment {
  text-align: left;
}

/* -----------------------------------------------
   09. Contact
----------------------------------------------- */

.contact__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: var(--max-width);
  margin: 6rem 10rem;
}

.contact__title {
  font-weight: 600;
  font-size: 35px;
  color: var(--main-color);
  margin-bottom: 3rem;
}

.contact__description {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 4.5rem;
}

.contact__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7.5rem;
  width: 100%;
}

.contact-card__wrapper {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  justify-content: center;
}

.contact-card__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 8.5rem;
  padding-bottom: 6.7rem;
}

.contact-card__icon-wrapper {
  width: 7.5rem;
  height: 7.5rem;
  background-color: var(--main-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.contact-card__icon {
  width: 4rem;
  height: 4rem;
}

.contact-card__description {
  margin-bottom: 2rem;
}

.contact-card__button {
  display: flex;
  align-items: center;
  align-self: center;
  padding: 1.3rem 3.5rem;
  gap: 1rem;
  background: #418e5b;
  border-radius: 3rem;
  border: none;
}

.contact-card__text {
  color: white;
}

.contact-card__button-icon {
  height: 3rem;
  width: 3rem;
}

/* Button scroll to up  */
.btn-scroll-to-top {
  width: 40px;
  height: 40px;
  position: fixed;
  z-index: 99;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  margin-bottom: 24px;
  margin-right: 24px;
  display: none;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
}

/* -----------------------------------------------
   10. Footer
----------------------------------------------- */

.footer_wrapper {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  margin: 4rem 10rem;
}

.footer__inner {
  display: flex;
  background: #418e5b;
  border-radius: 30px;
  padding: 3.6rem 35.6rem;
  justify-content: center;
}

.footer__title {
  color: white;
}

/* -----------------------------------------------
   11. Media Querys
----------------------------------------------- */

/* smaller destoks */
@media (max-width: 82em) {
}

/* Bellow 1200px Land Scape tablets */
@media (max-width: 75em) {
}

/* Bellow 944px  tablets */
@media (max-width: 59em) {
}

/* Bellow 700px  Small tablets */
@media (max-width: 44em) {
  .header__list {
    display: none;
  }
  .header__mobile-list {
    display: flex;
  }

  .header {
    display: flex;
    justify-content: center;
    padding: 2.5rem 4rem;
  }

  .hero__title {
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
  }

  .hero__icon {
    height: 4.8rem;
    width: 4.8rem;
  }

  .services__title {
    font-size: 6rem;
  }

  .services_grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem 3rem;
  }

  .services_wrapper {
    margin: 3rem 7.5rem;
  }

  .testimonials__wrapper {
    margin: 3rem 4.2rem;
  }

  .testimonial__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact__grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
    justify-content: center;
  }

  .footer_wrapper {
    margin: 3rem 4rem;
  }

  .footer__inner {
    padding: 3rem 4.4rem;
  }

  .footer__title {
    font-size: 1.6rem;
  }
}

/* Bellow 544px  phones */
@media (max-width: 34em) {
}
